body {
  margin: 0;
  font-family: Arial, sans-serif;
}
body {
  font-family: Arial, sans-serif;
  background-image: url('./images/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 400vh; 
  margin-top: 150px;
  height: 800px;
  padding: 0;
  font-family: 'Times New Roman', Times, serif, sans-serif;

}

header {
  background-color: #414753;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  display: flex;
  align-items: center;
}

.logo {
  
  margin-right: 20px;
  float: left;
}

.title {
  flex: 1;
  text-align: center;
  display: inline-block;
}

.logo img {
  height: 50%;
  width: 25%;
  border-radius: 50px;
}

@media (max-width: 768px) {
  .logo {
      margin-right: 0;
  }
}

/* App.css */
.sub-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Align items horizontally */
}

.sub-nav ul li {
  margin-right: 20px;
}

.sub-nav ul li:last-child {
  margin-right: 0;
}

.sub-nav ul li button {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
      /* Top-left */ 0% var(--curve-size),
      var(--curve-size) 0,
      /* top-right */ 100% 0,
      100% calc(100% - var(--curve-size)),
      /* bottom-right 1 */ calc(100% - var(--curve-size)) 100%,
      /* bottom-right 2 */ 0 100%
  );
  transition: color 250ms;
}

.sub-nav ul li button::after,
.sub-nav ul li button::before {
  content: "";
  position: absolute;
  inset: 0;
}

.sub-nav ul li button::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
      background-position: 31% 0%;
  }

  50% {
      background-position: 70% 100%;
  }

  100% {
      background-position: 31% 0%;
  }
}

.sub-nav ul li button::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
      /* Top-left */ var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
      calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
      /* bottom-right 2 */ var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.sub-nav ul li button:where(:hover, :focus)::after {
  clip-path: polygon(
      /* Top-left */ calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      calc(100% - var(--border-width)) var(--border-width),
      /* top-right */ calc(100% - var(--border-width)) var(--border-width),
      calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
      /* bottom-right 1 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
      /* bottom-right 2 */
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.sub-nav ul li button:where(:hover, :focus) {
  color: #fff;
}


body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f4f4f4;
max-width: 100%;

}

h1 {
justify-content: center;
text-align: center;
color: #fff;
margin-bottom: 20px;
}
#form-ui {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 30px;
  margin-top: 0px;
}

#form {
  width: 300px;
  padding: 25px;
  background-color: #161616;
  box-shadow: 0px 15px 60px #00FF7F;
  outline: 1px solid #2b9962;
  border-radius: 10px;
}

#form-body {
  width: 230px;
  margin: auto;
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

#welcome-line-1 {
  color: #00FF7F;
  font-weight: 600;
  font-size: 24px;
}

#welcome-line-2 {
  color: #ffffff;
  font-size: 14px;
  margin-top: 10px;
}

#input-area {
  margin-top: 20px;
}

.form-inp {
  margin-bottom: 15px;
}
#form-body p {
  color: white;
}
.form-inp input[type="text"],
.form-inp input[type="file"] {
  width: 100%;
  padding: 10px;
  background-color: #080808;
  color: #00FF7F;
  border: none;
  border-radius: 8px;
  outline: none;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  width: 100%;
  padding: 12px;
  background-color: #00FF7F;
  color: #161616;
  font-weight: 600;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit-button:hover {
  background-color: #161616;
  color: #00FF7F;
}

/* App.css */
@media (max-width: 600px) {
.header {
    flex-direction: column;
    text-align: center;
}

.search-bar {
    margin-top: 10px; /* Adds some space between the title and the search bar on small screens */
}
}

.header {
display: flex;
align-items: center;
justify-content: space-between; /* Distributes space evenly between items */
padding: 10px 20px; /* Adds some padding around the header */

}


.welcome-message {
  display: flex;          /* Use flexbox for layout */
  justify-content: center;/* Center horizontally */
  align-items: center;    /* Center vertically */
  position: absolute;     /* Position absolutely */
  top: 50%;               /* Place it at the vertical center */
  left: 50%;              /* Place it at the horizontal center */
  transform: translate(-50%, -50%); /* Center it perfectly */
  background-color: #0e0d0d;  /* Grey background */
  color: white;           /* White text color */
  text-align: center;     /* Center the text within the element */
  padding: 20px;          /* Add padding around the text */
  border-radius: 25px;
  animation: flash 1.5s infinite;  /* Apply flash animation */
}

@keyframes flash {
    0% {
        outline: 1px solid transparent;  /* Start with transparent outline */
    }
    50% {
        outline: 1px solid #00FF7F;      /* Halfway through, show the outline */
    }
    100% {
        outline: 1px solid transparent;  /* At the end, make the outline transparent again */
    }
}


.logo {
width: 150px;
height: 100px;
}

.search-bar input {
padding: 8px;
width: 200px; /* Adjust width as needed */
border: 1px solid #ccc;
border-radius: 5px; /* Optional: rounds the corners of the search input */
}

.search-bar {
display: flex;
align-items: center;
}

/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 140vh; /* Ensures the content fills the viewport */
  position: relative; /* Required for absolute positioning of footer */
}

main {
  flex-grow: 1; /* Allow main content to grow */
  margin-bottom: 0; /* Remove margin bottom */
}

.footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
/* App.css */

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer a {
  color: #4dffbb;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

footer.footer {
  text-align: center;
  background-color: #414753;
  justify-content: center;
  padding: 20px 0;
  color:white;
  width: 100%;
  max-height: 20px;
  position: absolute; /* Fixed position relative to the viewport */
  bottom: 0; /* Fix at the bottom of the viewport */
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, sans-serif; /* Use a specific font */
  font-size: 18px;
  font-weight: bold; /* Apply bold font weight */
  text-decoration: underline; /* Add underline decoration */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
.welcome-message {
  display: flex;          /* Use flexbox for layout */
  justify-content: center;/* Center horizontally */
  align-items: center;    /* Center vertically */
  flex-direction: column; /* Stack quotes vertically */
  position: absolute;     /* Position absolutely */
  top: 60%;               /* Move it down slightly from the vertical center */
  left: 50%;              /* Place it at the horizontal center */
  transform: translate(-50%, -50%); /* Center it perfectly */
  background-color: #0e0d0d;  /* Grey background */
  color: white;           /* White text color */
  text-align: center;     /* Center the text within the element */
  padding: 20px;          /* Add padding around the text */
  border-radius: 25px;
  animation: flash 1.5s infinite;  /* Apply flash animation */
}

.welcome-message p {
  margin: 10px 0;         /* Add some margin between quotes */
}

@keyframes flash {
  0% {
      outline: 1px solid transparent;  /* Start with transparent outline */
  }
  50% {
      outline: 1px solid #00FF7F;      /* Halfway through, show the outline */
  }
  100% {
      outline: 1px solid transparent;  /* At the end, make the outline transparent again */
  }
}
.welcome-message p:first-child {
  font-weight: bold;     /* Make the text bold */
  font-size: 20px;       /* Increase font size */
  color: #ff9900;        /* Change text color */
}

.welcome-message p {
  margin: 10px 0;         /* Add some margin between quotes */
  font-size: 16px;        /* Default font size for other paragraphs */
  color: white;           /* Default text color for other paragraphs */
}

.department-filter {
  margin-bottom: 20px;
}

.department-filter label {
  margin-right: 10px;
}

.department-filter select {
  padding: 5px;
}


.search-results-container {
  padding: 20px;
  margin-bottom: 50px;
  background-color: #0b1725;
  background-size: cover;
  background-position: center;
  color: #fff; /* Text color */
}

.books-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 8px;
  color: #ffffff; /* Text color */
  width: calc(33% - 20px);
  box-shadow: 0 4px 8px rgba(240, 229, 229, 0.1);
}

.book-card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.book-card p {
  margin: 6px 0;
}

.book-card a {
  display: block;
  margin-top: 10px;
  color: #007bff; /* Link color */
  text-decoration: none;
}

.book-card a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .book-card {
      width: calc(100% - 20px); /* Full width for smaller screens */
  }
}
